#buttonContainer {
	clear:          both;
	height:         60px;
	margin-bottom:  10px;
}
div.button {
    float:          left;
	width:          50px;
	height:         50px;
    line-height:    50px;
    padding:        10px;
    font-size:      30px;
    font-family:    arial;
	font-weight:    bold;
	text-align:     center;
    color:          #afafaf;
	background:     url("../img/tile.png") no-repeat;
}
div.button.enabled {
	background: url("../img/tile_enabled.png") no-repeat;
	color: #294757;
}
div:hover.enabled, div.enabled.pressed {
	background: url("../img/tile_enabled_pressed.png") no-repeat;
	cursor: pointer;
}
div.button.actual {
	background: url("../img/tile_actual.png") no-repeat;
	color: #eee;
}
div:hover.actual, div.actual.pressed {
	background: url("../img/tile_actual_pressed.png") no-repeat;
	cursor: pointer;
}

div.tabContainer {
	display:none;
	margin-top: 30px;
}
div.tabContainer ul.tabNavigation li{
	display:-moz-inline-box;
	display:-moz-inline-stack;
	display: inline-block;
	list-style: none;
}
div.tabContainer ul.tabNavigation a{
	display: block;
	background: #305463;
	color: white;
	font-weight: bold;
	height: 28px;
	line-height: 28px;
	width: 200px;
	text-align: center;
	background: url('../img/bkg-tab.png') repeat-x;
}
div.tabContainer ul.tabNavigation a{
	color: white;
}
div.tabContainer ul.tabNavigation a.tabSelected{
	background: url('../img/bkg-taba.png') repeat-x;
	height: 30px;
	text-decoration: none;
	margin-bottom: 0;
	color: 333;
	border-top: solid 1px #ddd;
	border-right: solid 1px #ddd;
	border-left: solid 1px #ddd;
}
div.tabContainer ul.tabNavigation a.hover{
	text-decoration: underline;
}
div.tabContent {
	border: solid 1px #ddd;
	background: #f3f3f3;
	padding: 20px;
	margin-bottom: 40px;
}


.box{
	position: relative;
	float: left;
	width: 180px;
	height: 40px;
	background: url('../img/bkg-box.png') no-repeat;
	margin: 0 0 20px 10px;
	text-align: center;
	line-height: 40px;
}
div.box:hover{
	background: url('../img/bkg-boxh.png') no-repeat;
	cursor: pointer;
}
div.box a, div.box:hover a{
	color: white;
	text-decoration: none;
	font-weight: bold;
	display: block;
	width: 180px;
	height: 40px;
}