*{
    margin: 0;
    padding: 0;
    border: none;
}

body{
    background: #2F5260 url('../img/bkg-body.png') repeat scroll;
    color: #222222;
    font-family: Verdana, sans-serif;
    font-size: 11px;
    line-height: 140%;
    text-align: justify;
}

#top{
    position: absolute;
    background: url('../img/bkg-top.png') no-repeat;
    height: 140px;
    width: 968px;
    left: 0;
    top: 0;
    right: 0;
    margin: 0 auto;
    z-index: 2;
    cursor: pointer;
}

#rss {
    float: right;
    margin: 5px 15px;
    background: url('../img/rss.gif') no-repeat;
    width: 24px;
    height: 24px;
    z-index: 4;
}

#content{
    position: relative;
    background: url('../img/bkg-content.png') repeat-y;
    margin: 0 auto;
    padding: 20px 34px;
    width: 900px;
    min-height: 400px;
    z-index: 0;
}

#bottom{
    position: relative;
    background: url('../img/bkg-bottom.png') no-repeat;
    clear: both;
    margin: 0 auto;
    width: 968px;
    height: 70px;
    text-align: center;
    color: white;
    font-size: 9px;
    padding-top: 15px;
}

#bottomlinks {
    display: block;
    margin: 0 auto 15px auto;
    width: 968px;
    height: 20px;
    line-height: 20px;
    vertical-align: middle;
    list-style: none;
    font-size: 10px;
    font-family: Tahoma, sans-serif;
}

#menu{
    position: relative;
    margin: 112px auto 0 auto;
    height: 70px;
    width: 960px;
}

#menu .tab {
    position:absolute;
    height:60px;
    width:106px;
    float:left;
    background: url('../img/menu.png') no-repeat scroll;
    z-index:1;
    padding-bottom: 10px;
}
#menu div:hover.tab {
    background-image: url('../img/menuh.png');
}
#menu .active .tab, #menu .active div:hover.tab {
    background-image: url('../img/menua.png');
}

#m_glowna     .tab    {   background-position:   -4px 0;  margin-left:11px;   }
#m_turnieje   .tab    {   background-position: -118px 0;  margin-left:115px;  }
#m_pfs        .tab    {   background-position: -232px 0;  margin-left:218px;  }
#m_scrabble   .tab    {   background-position: -346px 0;  margin-left:323px;  }
#m_ranking    .tab    {   background-position: -460px 0;  margin-left:427px;  }
#m_scrabblisci .tab   {   background-position: -574px 0;  margin-left:531px;  }
#m_kluby      .tab    {   background-position: -688px 0;  margin-left:635px;  }
#m_roznosci   .tab    {   background-position: -802px 0;  margin-left:739px;  }
#m_english    .tab    {   background-position: -916px 0;  margin-left:843px;  }

#menu .tab a{
    width:104px;
    height: 57px;
    display: block;
    cursor: pointer;
}

#menu .active .tab a{
    height: 35px;
}

#menu ul{
    display: none;
    position: absolute;
    margin-top: 76px;
    width: 928px;
    height: 30px;
    line-height: 30px;
    list-style: none;
    vertical-align: middle;
    text-align: center;
    z-index:2;
    font-size: 11px;
}
#menu ul li, #bottomlinks li{
    display: inline;
    padding: 0 12px;
    border-left: 1px solid #2B464F;
}
#menu ul li:first-child,  #bottomlinks li:first-child{
    border-left: none;
}
#menu ul li a, #bottomlinks li a{
    color: white;
}
#menu ul li a:hover, #bottomlinks li a:hover, #menu li.active_tab a{
    color: #1576AE;
    text-decoration: none;
}
#menu .active ul {
    display: block;
}

#submenu{
    background: url("../img/submenu.png") no-repeat;
    margin: 0 auto;
    text-align: center;
    width: 968px;
    height: 120px;
    z-index: 0;
}



/***************************************************************************************************************************/
/***************************************************************************************************************************/
/***************************************************************************************************************************/

table{
    border-collapse: collapse;
    border-spacing: 0;
    font-size: inherit;
    color: inherit;
}

table td {
    vertical-align: top;
}

a{
    color: #1576AE;
    text-decoration: none;
    cursor: pointer;
}

a:hover, area:hover{
    /*color: #E7484F;*/
    color: #1576AE;
    text-decoration: underline;
    cursor: pointer;
}

h1{
    text-align: center;
    margin-top: -100px;
    margin-bottom: 30px;
    height: 30px;
    padding: 20px;
    color: white;
    font-size: 17px;
    font-weight: bold;
}

h1 img{
    margin:0 -3px;
}

h1 span{
    display:block;
    font-size: 11px;
    font-weight: normal;
    font-style: italic;
    margin-top: 4px;
}

h2{
    clear: both;
    margin: 20px 0 10px 0;
    padding: 0px 0 3px 0;
    color: #1576AE;
    border-bottom: 1px solid #1576AE;
    font-size: 12px;
    font-weight: bold;
    font-family: inherit;
    text-align: left;
}

/*h2 span{
    color: #222222;
    font-size: 11px;
    font-weight:normal;
}*/

pre{
    font-family: "Courier New";
    font-size: 12px;
    color: #222222;
}

ul, ol{
    padding-left: 30px;
}

input, textarea, select{
    border: 1px solid #C8D1DF;
}

.alignright     { text-align: right; }
.alignleft      { text-align: left; }
.aligncenter    { text-align: center; }
.wzor { background: url('../img/wzor.jpg') no-repeat;}
.email {    background: url('../img/email.png') no-repeat; display:block; width:20px; height:20px; }
.gp{ background: url('../img/map-2.png') no-repeat; width: 12px; height:12px; line-height: 12px; padding-left: 15px; font-weight: bold; color: #E2A21D; vertical-align: bottom; }
/*.gp:hover{ background: url('../img/gp_hover.png') no-repeat; color: #E7484F; }*/
.ramka{ border: 1px dashed #1576AE; }
.ramkadolna, .ramkadolna td {   border-bottom: 1px dashed #1576AE; }
.onleft {   float: left; margin: 4px 16px 4px 0; }
.onright{ float: right; margin: 4px 0 4px 16px; }

.slowa{
    font-family: "Courier New";
    font-size: 12px;
    letter-spacing: 0.2ex;
    text-align: left;
}

a.zapis{
    background: url('../img/zapis.png') no-repeat;
    display: block;
    float:left;
    margin-right: 4px;
    height: 16px;
    width: 16px;
}

li.zapis{
    list-style: none;
    margin-left: -20px;
}

p.litera:first-letter{
    color: #1576AE;
    font-size: 14px;
    font-weight: bold;
}

/***************************************************************************************************************************/

.przycisk{
    background: url('../img/przycisk.png') no-repeat;
    display: block;
    float: left;
    margin: 3px 2px 3px 2px;
    width: 91px;
    height: 28px;
    line-height: 26px;
    color: white;
    font-size: 10px;
    font-weight: bold;
    text-decoration : none;
    text-align:center;
}

input.przycisk{
    line-height: 1em;
    border: none;
    padding-bottom: 5px;
}

.przycisk:hover, a.przycisk:hover, a.przycisk.active{
    color: white;
    background: url('../img/przyciskh.png') no-repeat;
    cursor: pointer;
    text-decoration: none;
}

/***************************************************************************************************************************/

.relacja {
    margin: 10px 0;
}

.autor {
    display: block;
    padding: 10px 0;
    font-style: italic;
}

.relacja .turniej{
    display: block;
    padding: 10px 0;
    color: #1576AE;
}

.relacja img{
    padding: 8px;
    background: white;
    border: 1px solid #aaa;
}

.skrot {
    float: left;
    margin: 10px 20px 0 0;
    width: 430px;
}

.skrot span{
    display: block;
    margin: 10px 0;
    padding-bottom: 3px;
    width: 430px;
    color: #1576AE;
    font-size: 11px;
    font-weight: bold;
    text-align: left;
}

/***************************************************************************************************************************/

table.zapisy{
    border: 1px solid #1576AE;
    margin: 10px 0;
}

table.zapisy td{
    padding: 2px 12px;
    border-right: 1px dashed #1576AE;
    border-left: 1px dashed #1576AE;
    border-bottom: 1px solid #1576AE;
    border-top: 1px solid #1576AE;
}

table.zapisy td.rok{
    font-weight: bold;
}

/***************************************************************************************************************************/

table.klasyfikacja{
    text-align: center;
    margin: 10px 0;
    border: 1px solid #1576AE;
}

table.klasyfikacja td{
    padding: 3px 4px;
    border-right: 1px dashed #1576AE;
    border-left: 1px dashed #1576AE;
    border-bottom: 1px solid #1576AE;
    border-top: 1px solid #1576AE;
}

table.klasyfikacja tr:first-child{
    font-weight: bold;
}

table.klasyfikacja td:first-child{
    padding: 3px 4px;
    font-weight: bold;
    text-align: right;
}

table.klasyfikacja td.osoba{
    text-align: left;
    width: 150px;
}
table.klasyfikacja td.lighter{
    background: #EDF7AA;
}

table.klasyfikacja td.suma{
    font-weight: bold;
    background: #7ECCFB;
}

/***************************************************************************************************************************/

div.uchwala{
    margin-top: 40px;
}

div.uchwala strong{
    color:  #1576AE;
    font-weight: bold;
    display: block;
    margin: 15px 0;
    border-bottom: 1px solid #1576AE;
    padding-bottom: 2px;
}

div.uchwala table td{
    padding: 4px 10px;
}

div.uchwala ol, div.uchwala ul{
    margin: 10px;
}

div.uchwala ul li{
    padding: 4px 0;
}

.nieaktualne, .red{
    color: #D63831 !important;;
    display: inline;
}
a.nieaktualne:hover{
    color: inherit;
}

.naglowekrelacji{
            color: #eee;
            background: #123347;
            width: 900px;
            margin: 7px 0 20px -24px;
            padding: 12px 24px;
            text-align: left;
        }
        .naglowekrelacji .tytul{
            font-size: 15px;
            font-weight: bold;
            display: block;
            line-height: 18px;
        }
        .naglowekrelacji .tytul .nazwa{
            font-size: 10px;
            display: block;
            font-weight: normal;
            margin: 8px 0;
        }

div.galleries a{
    background: url('../img/gallery.png') no-repeat;
    width: 30px;
    height:30px;
    float:left;
    margin: 0 3px;
}


/*** ANAGRAMATOR *****/
div.anag{
	margin: 0 12px 30px 0;
	margin-left: 0;
	background: url('../img/header.png') no-repeat;
	text-align:center;
	width: 250px;
	float: left;
	height: 32px;
	padding-top: 30px;
	vertical-align: middle;
}
div.anag input{
	vertical-align: middle;
	display: inline;
	margin-left:8px;
	margin-top:10px;
}
div.wyniki{
	float: left;
	height:auto;
	margin: 0px 20px 30px 20px;
	font-size: 13px;
	font-weight: bold;
	line-height: 20px;
}
div.wyniki .kol{
	width: 130px;
	float: left;
}
div.wyniki span.normal{
	color: inherit;
}
div.wyniki span.red{
	color: #DC0031;
}
div.info{
	font-weight: bold;
	margin: 40px;
}
div.info img{
	vertical-align: middle;
}
