* html body {
	height: 100%;
} 

#top, #content, #bottom, #submenu, #menu, #menu div{
	position: absolute;
	left: 50%;
	margin-left: -484px;
}

#content{
	position: relative;
	top: 300px;
	width: 968px;
	padding-top: 60px;
}
#kalendarz{
	margin-top:-140px;
}

#bottom{
	position: relative;
	margin-top: 300px;
}

#submenu{
	top: 186px;
	z-index: -1;
}

#menu ul{
	margin-top: 84px;
	width: 928px;
	height: 30px;
	line-height: 30px;
}

#menu ul li, #bottomlinks li{		
	display: inline;
	margin-left: 0px;
}
#menu .active ul {
	display: block;
}

#panelprawy{
	margin-top: -80px;
	margin-right: 50px;
}

table td{
	font-size: 11px;
}

#startery div{
	width: 330px;
}

div.panel div.text td{
	color: white;
}

#kalendarz div.kartka{
	width: 210px;
	height: 140px;
	padding: 29px 6px 20px 6px;
}

#boxy{
	top: -60px;
}

h1 {
margin-top: -130px;
}