#rundy{
margin-top: -40px;
}
div.runda{
	width: 70px;
	height: 70px;
	padding: 0px;
	line-height: 70px;
}
div.aktywna{
	color: #294757;
}

div.tabs ul.tabNavigation li{
	display: inline;
}
div.tabcontent{
	margin-bottom: 60px;
}


.box{
	margin: -30px 0 60px 10px;
}

h1{
display:none;
}